<div class="ask">
  <div>
    <h1>Stupid Coach</h1>
    <p>Ask your coach anything</p>
    <form action="/answer" data-turbo="false" class="input-group mb-3">
      <input type="text" class="form-control" aria-describedby="button-addon2" name="user_question">
      <button class="btn btn-primary" type="submit" id="button-addon2">Ask!</button>
    </form>
  </div>
</div>
